#### Fundamentos de Python
* variables
* operadores matematicos
* operadores logicos
* operadores de comparacion
* estructuras de control
    - Condicionales
    - Ciclo finito: for
    - Ciclo infinito: while
    - funciones
* estructuras de datos
    - Cadenas de caracteres: string
    - numero enteros
    - numero decimales
    - listas
    - diccionarios
    - tuplas

In [1]:
print("epale mundo")

epale mundo

In [18]:
# Variables
name = "Juan"
last_name = "Gomez"

In [19]:
# Mala practica
Name = "Juan"
Last_Name = "Gomez"

In [6]:
# Operadores matematicos
number_1 = 10
number_2 = 5

In [7]:
# Suma
result = number_1 + number_2

In [9]:
print(result)

15

In [11]:
# resta
result_sub = number_1 - number_2

In [13]:
# multiplicacion
result_mult = number_1 * number_2

In [14]:
# division
result_div = number_1 / number_2

In [15]:
print(result_sub)

5

In [16]:
type(result_sub)

int

In [20]:
print(last_name)

Gomez

In [22]:
# Operadores de comparacion
# == igual
# != diferente
# < menor que
# > mayor que
# <= menor o igual que
# >= mayor o igual que

In [23]:
# Operadores booleanos
# True
# False

In [24]:
# Ejemplos
4 == 4

True

In [25]:
number_1 == number_2

False

In [26]:
number_1 > number_2

True

In [27]:
number_1 <= number_2

False

In [28]:
# Condicionales
if number_1 > number_2:
    print("number_1 es mayor que number_2")

number_1 es mayor que number_2

In [29]:
# Condicionales
if number_1 > number_2
    print("number_1 es mayor que number_2")

SyntaxError: expected ':' (4099665244.py, line 2)

In [30]:
# Condicionales
if number_1 > number_2:
print("number_1 es mayor que number_2")

IndentationError: expected an indented block after 'if' statement on line 2 (4188665429.py, line 3)

In [31]:
# Condicionales
if number_1 > number_2:
    print("number_1 es mayor que number_2")
else: 
    print("number_1 no es mayor que number_2")

number_1 es mayor que number_2

In [33]:
# Condicionales
number_1 = 20
number_2 = 20

if number_1 > number_2:
    print("number_1 es mayor que number_2")
elif number_1 < number_2:
    print("number_1 es menor que number_2")
else: 
    print("number_1 es igual que number_2")

number_1 es igual que number_2

In [35]:
# Condicionales anidados
number_1 = 20
number_2 = 10

if (number_1 > number_2):
    if number_1 > 10:
        print("number_1 es mayor que number_2 y mayor que 10")
elif number_1 < number_2:
    print("number_1 es menor que number_2")
else: 
    print("number_1 es igual que number_2")

number_1 es mayor que number_2 y mayor que 10

In [37]:
# Operadores logicos
# and
# or
# not

# Condicionales anidados
number_1 = 20
number_2 = 10

if (number_1 > number_2) and (number_1 > 10):
    print("number_1 es mayor que number_2 y mayor que 10")
elif number_1 < number_2:
    print("number_1 es menor que number_2")
else: 
    print("number_1 es igual que number_2")

number_1 es mayor que number_2 y mayor que 10

In [39]:
# Operadores logicos
# and
# or
# not

# Condicionales anidados
number_1 = 20
number_2 = 5

if (number_1 > number_2) and (number_1 > 10):
    print(f'"{number_1}" es mayor que "{number_2}" y mayor que 10')
elif number_1 < number_2:
    print("number_1 es menor que number_2")
else: 
    print("number_1 es igual que number_2")

"20" es mayor que "5" y mayor que 10

In [2]:
def jugar():
    print("¡Bienvenido al juego de Piedra, Papel o Tijera!")

    while True:
        # Obtener opciones de los jugadores
        while True:
            jugador1 = input("Jugador 1, elige (piedra, papel o tijera): ").lower()
            if jugador1 in ["piedra", "papel", "tijera"]:
                break
            else:
                print("Opción inválida. Inténtalo de nuevo.")

        while True:
            jugador2 = input("Jugador 2, elige (piedra, papel o tijera): ").lower()
            if jugador2 in ["piedra", "papel", "tijera"]:
                break
            else:
                print("Opción inválida. Inténtalo de nuevo.")

        # Mostrar opciones de los jugadores
        print(f"Jugador 1: {jugador1}")
        print(f"Jugador 2: {jugador2}")

        # Determinar ganador con condicionales
        if jugador1 == jugador2:
            print("Empate")
        elif jugador1 == "piedra":
            if jugador2 == "tijera":
                print("Jugador 1 gana")
            else:
                print("Jugador 2 gana")
        elif jugador1 == "papel":
            if jugador2 == "piedra":
                print("Jugador 1 gana")
            else:
                print("Jugador 2 gana")
        elif jugador1 == "tijera":
            if jugador2 == "papel":
                print("Jugador 1 gana")
            else:
                print("Jugador 2 gana")

        # Preguntar si jugar de nuevo
        jugar_de_nuevo = input("¿Jugar de nuevo? (s/n): ").lower()
        if jugar_de_nuevo != "s":
            break

if __name__ == "__main__":
    jugar()

¡Bienvenido al juego de Piedra, Papel o Tijera!
Jugador 1: piedra
Jugador 2: papel
Jugador 2 gana

### Estructuras de datos básicas

In [7]:
# int
# float
# str
# list
            #  0       1       2         3
            #  -4     -3      -2        -1
list_names = [
    "Juan", 
    "Pedro", 
    "Maria", 
    "Ana",
    ]

In [2]:
list_names[0]

'Juan'

In [3]:
list_names[2]

'Maria'

In [5]:
# slice de listas
# [start:stop:step]
list_names[0:2]

['Juan', 'Pedro']

In [6]:
list_names[1:3]

['Pedro', 'Maria']

In [8]:
# list methods
# append
list_names.append("Carlos")

In [9]:
list_names

['Juan', 'Pedro', 'Maria', 'Ana', 'Carlos']

In [10]:
list_names.pop(0)

'Juan'

In [11]:
list_names

['Pedro', 'Maria', 'Ana', 'Carlos']

In [12]:
# Longitud de una lista
len(list_names)

4

In [14]:
# ciclos for
for name in list_names:
    print(name)

Pedro
Maria
Ana
Carlos

In [16]:
# ciclos for
for name in list_names:
    # buscar el nombre ana en la lista en minusculas
    if name.lower() == "ana":
        print("Ana esta en la lista")
        break

Ana esta en la lista

In [17]:
# diccionarios
# key: value
dict_names = {
    "name": "Juan",
    "last_name": "Perez",
    "age": 25,
}

### Funciones

In [18]:
# funcion que salude
def saludar():
    print("Hola mundo")

In [19]:
saludar()

Hola mundo

In [20]:
# funcion que salude con retorno
def saludar2():
    return "Hola mundo"

In [21]:
saludar2()

'Hola mundo'

In [22]:
# funcion que salude con retorno para un nombre
def saludar3(name):
    return f"Hola {name}"

In [26]:
saludar3()

TypeError: saludar3() missing 1 required positional argument: 'name'

In [28]:
# funcion que salude con retorno para un nombre con un valor por defecto
def saludar4(name="Fulano de tal"):
    return f"Hola {name}"

In [30]:
saludar4("Maria Antonia")

'Hola Maria Antonia'

In [31]:
# funcion que salude con retorno para nombre y apellido con valores por defecto
def saludar5(name="Fulano", last_name="De tal"):
    return f"Hola {name} {last_name}"

In [32]:
saludar5("Maria", "Antonia")

'Hola Maria Antonia'

In [33]:
saludar5(last_name="Antonia", name="Maria")

'Hola Maria Antonia'

In [35]:
# funcion documentada que salude con retorno para nombre y apellido con valores por defecto
def saludar6(name="Fulano", last_name="De tal"):
    """
    Esta funcion recibe un nombre y un apellido y retorna un saludo
    name: str
    last_name: str
    return: str
    return f"Hola {name} {last_name}"
    """
    return f"Hola {name} {last_name}"

In [36]:
saludar6()

'Hola Fulano De tal'